# put this file to ~/.config/systemd/user/mytmux.service
# enable the service: systemctl --user enable tmux
# ref https://wiki.archlinux.org/index.php/Tmux#Autostart_with_systemd
[Unit]
Description=User tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
